*{
    box-sizing: border-box;
}
.caja-padre{
    padding: 20px;
    background-color: black;
    height: 100px;
}
.caja1{
    width: 33%;
    height: 100%;
    border: 2px solid black;
    background-color:blue;
    float: left;
}
.caja2{
    width: 33%;
    height: 100%;
    border: 2px solid black;
    background-color:aqua;
    float: left;
}
.caja3{
    width: 33%;
    height: 100%;
    border: 2px solid black;
    background-color:greenyellow;
    float: left;
}